@charset "utf-8";
//声明文件编码必须双引号
//@import 'common';
@import "animate";
.container{
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
.wrapper{
	min-width: 1400px;
	max-width: 1920px;
	margin-right: auto;
	margin-left: auto;
}
//全局变量
@font-size-sm:12px;
@font-size-std:14px;
@font-size-16:16px;
@font-size-18:18px;
@font-size-20:20px;
@font-size-22:22px;
@font-size-24:24px;
@font-size-26:26px;
@font-size-28:28px;
@font-size-30:30px;
//兼容ie 颜色要写满六位
@clr-w:#ffffff;
@clr-000:#000000;
@clr-333:#333;
@clr-666:#666;
@clr-border:#cbcdcc;
@clr-ching:#e1ebeb;
@clr-gre:#f6f6f6;
@clr-bg-light:#b2afaf;
@clr-bg-slight:#fbfbfb;
@clr-org-hover:#c1831c;
@clr-red:#bc2e2e;
@clr-yel:#dbbe7c;

//兼容ie Safari 背景渐变
.bggradient(@bfclr1:#f3f3f3,@bfclr2:#fefefe){
	background: -webkit-gradient(linear,0 0,0 100%,from(@bfclr1),to(@bfclr2));
	background: linear-gradient(to bottom,@bfclr1,@bfclr2);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='@{bfclr1}',endColorStr='@{bfclr2}',gradientType='0')@ie7-10;
}

//1.顶部工具条
.toolbar{
	background-color:@clr-bg-slight;
	.container{
		position: relative;
		height: 55px;
		width: 1000px;
		z-index:50;
	}
	.brand{
		float: left;
		height:90%;
	}
	//顶部广告
	.adv{
		float: left;
		height: 100%;
		margin-left: 10px;
		img{
			height: 100%;
			.transition();
		}
		//广告下拉
		.adv-dropdown{
			position: absolute;
			z-index:35;
			left:0;
			top:55px;
			display: none;
			.transition();
			//下拉关闭按钮
			a{
				position: absolute;
				right:13px;
				top: 11px;
				display: block;
				width: 32px;
				height: 32px;
			}
		}
		&:hover{
			>img{
				.opacity();
			}
			.adv-dropdown{
				display: block;
				-webkit-animation:cateSlideDown 1s;
				animation: cateSlideDown 1s;
				//兼容Safari 图片无法自动撑开
				img{
					width:960px;
					height: 250px;
				}
			}
		}
	}
	//右侧链接
	.container>ul{
		float:right;
		>li{
			float: left;
			height:55px;
			a{
				display: block;
				height:52px;
				line-height:55px;
				padding:0 15px;
				border-bottom: 3px solid transparent;
				color: @clr-333;
				font-size: @font-size-sm;
				text-align: center;
				.transition();
				&:hover{
					border-color: @clr-red;
					color: @clr-red;
					.bggradient;
				}
			}
		}
		//游戏目录 li
		.category{
			>a{
				position: relative;
				color: @clr-red;
				>span{
					position: absolute;
					right: 2px;
					top:50%;
					border:4px solid transparent;
					border-top-color:@clr-red
				}
			}
			.hide{
				display:none;
			}


		}
		//游戏目录下拉table
		.cate-box{
			position: absolute;
			z-index:45;
			left: 0;
			top:55px;
			width:100%;
			background-color:#fdfefe;
			-webkit-animation:cateSlideDown 1s;
			animation: cateSlideDown 1s;
			th{
				height: 50px;
				text-indent:20px;
				background-color:@clr-bg-slight;
				color: @clr-red;

			}
			td{
				vertical-align: top;
				overflow: hidden;
			}
			ul{
				float: left;
				width: 25%;
				li{
					display: block;
					height: 30px;
					line-height: 30px;
					text-indent: 15%;
					cursor: pointer;
					&:hover{
						background-color:@clr-bg-slight;
						color: @clr-red;
					}
				}
			}
			.first{
				width: 25%;
				ul{
					width: 50%;
				}
			}
			.last{
				width:15%;
				ul{
					width: 100%;
				}
			}
		}
		//li自动上滚动
		.slideup{
			//ie7 overflow失效,加定位解决
			position: relative;
			overflow: hidden;
			a{
				position: relative;
				left: 0;
				padding: 0;
				margin-left: 10px;
			}
			.first{
				-webkit-animation:slideUp 5.5s infinite;
				-o-animation:slideUp 5.5s infinite;
				animation:slideUp 5.5s infinite;
			}
			.last{
				-webkit-animation:slideUpLast 5.5s infinite;
				-o-animation:slideUpLast 5.5s infinite;
				animation:slideUpLast 5.5s infinite;
			}
			&:hover{
				a{
					-webkit-animation-play-state: paused;
					animation-play-state: paused;
				}
			}
		}
	}
}
//2.导航栏
.navbar{
	position: absolute;
	z-index: 40;
	left: 0;
	top: 55px;
	width: 100%;
	//导航栏遮罩
	.mask{
		position: absolute;
		z-index: 20;
		width: 100%;
		height: 100%;
		background: @clr-w;
		.opacity();
		.transition(all,.3s);
	}
	.content{
		position: relative;
		z-index: 25;
	}
	//导航栏左侧
	.left{
		display: none;
		float: left;
		height: 74px;
		margin-top: 13px;
		span,img,div{
			float: left;
			height: 100%;
			margin-left: 10px;
		}
		.qrcode{
			margin-right: 15px;
		}
		span{
			width: 16px;
			line-height: 18px;
			margin-left: 20px;
		}
		div{
			h1{
				font-size: @font-size-30;
				font-weight: 600;
			}
			h4{
				font-size: @font-size-16;
			}
		}
	}
	//导航栏右侧链接
	.nav{
		float: right;
		li{
			position: relative;
			float: left;
			height: 65px;
			margin-top: 35px;
			padding-right:40px;
			a{
				.transition();
				color: @clr-w;
				font-size: @font-size-16;
				&:hover{
					color: @clr-red;
				}
			}
			span{
				position: absolute;
				top:0;
				right:14px;
				width:15px;
				height: 24px;
				background: url("../img/spirits.png") -1545px -396px no-repeat;
			}
		}
	}
}
//导航栏固定
.navbar-fixed{
	position: fixed;
	top:0;
	.left{
		display: block;
	}
	.mask{
		.opacity(.85,85);
	}
	.nav li {
		a{
			color: @clr-333;
			&:hover{
				color: @clr-333;
			}
		}
		span{
			background-position:-1545px -419px;
		}
	}

}
//3.banner
.banner{
	position: relative;
	overflow: hidden;
	//大背景容器
	.background{
		width: 100%;
		height:585px;
		background-color:@clr-000;
		img{
			position: absolute;
			z-index: 0;
			top: 0;
			left: 50%;
			width: 1920px;
			margin-left: -960px;
		}
	}
	//波浪背景
	.wave{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 200%;
		height: 91px;
		.bg(){
			position: absolute;
			left: 0;
			top:0;
			width: 100%;
			height: 100%;
		}
		.bg3{
			.bg;
			background: url("../img/wave/wave-03.png");
			-webkit-animation:waveSlide 4s linear infinite;
			-o-animation:waveSlide 4s linear infinite;
			animation: waveSlide 4s linear infinite;
			z-index: 10;
		}
		.bg2{
			.bg;
			background: url("../img/wave/wave-02.png");
			-webkit-animation:waveSlide 8s linear infinite;
			-o-animation:waveSlide 8s linear infinite;
			animation: waveSlide 8s linear infinite;
			z-index:15;
		}
		.bg1{
			.bg;
			-webkit-animation:waveSlide 6s linear infinite;
			-o-animation:waveSlide 6s linear infinite;
			background: url("../img/wave/wave-01.png");
			animation: waveSlide 6s linear infinite;
			z-index:20;
		}

	}
	//人物图片
	.roles{
		position:absolute;
		z-index: 5;
		left:-50px;
		top:0;
		height:100%;
		width: 100%;
		b,div{
			position: absolute;
		}
		//role切换按钮
		b{
			z-index: 30;
			width: 41px;
			height: 66px;
			right: 28%;
			top: 52%;
			background: url("../img/role-toggle.png")no-repeat;
			.transition(all,.2s,linear);
			&:hover{
				-webkit-transform:scale(1.1);
				transform: scale(1.1);
			}
		}
		.left{
			right: 40%;
			&.init{
				-webkit-animation: roleLeft 1.5s;
				animation: roleLeft 1.5s;
			}
		}
		.right{
			left: 40%;
			&.init{
				-webkit-animation: roleRight 1.5s;
				animation: roleRight 1.5s;
			}
		}
		.show{
			.opacity(1,100);
			&.left{
				right: 40%;
				-webkit-animation: showRoleLeft 3s;
				animation: showRoleLeft 2.5s;
			}
			&.right{
				left: 40%;
				-webkit-animation: showRoleRight 3s;
				animation: showRoleRight 2.5s;
			}
		}
		.hide{
			.opacity();
			&.left{
				right: 30%;
				-webkit-animation: hideRoleLeft 1.5s;
				animation: hideRoleLeft 1.5s;
			}
			&.right{
				left: 30%;
				-webkit-animation: hideRoleRight 1.5s;
				animation: hideRoleRight 1.5s;
			}
		}
		.part1{
			top:10px;
		}
		//第二部分默认隐藏
		.part2{
			top:60px;
			display:none;
		}
	}
}
//4.导航选项卡
//100%宽度背景共同样式
.bgcommon(@bgurl:"../img/lg-bg-02.jpg"){
	position: absolute;
	top: 0;
	left: 50%;
	height:100%;
	width: 1920px;
	margin-left: -960px;
	background: url(@bgurl) no-repeat;
}
.navbar-nav{
	//兼容ie7 overflow失效
	position: relative;
	height: 1107px;
	overflow: hidden;
	margin-top: -248px;
	.container{
		position: relative;
		padding-top:248px;
	}
	.frog{
		position:absolute;
		z-index:40;
		left:70px;
		top:120px;
		width:102px;
		height:119px;
		cursor:pointer;
	}
	.download{
		position:absolute;
		z-index:25;
		left:320px;
		top:120px;
		width:522px;
		height:103px;
		padding:10px;
		background-color:#fccc00;
		border-radius:10px 0 0 10px;
		box-shadow: 0 0 7px 4px #feeb00 inset;
		overflow:hidden;
		.transition(all,.6s);
		&.fold{
			left:812px;
			width:22px;
		}
		b{
			display:none;
			float:left;
			width:22px;
			height:23px;
			background: url("../img/spirits.png")-1538px -703px no-repeat;
			cursor:pointer;
			&.active{
				display:block;
			}
		}
		b.open{
			height:105px;
			background-position:-1376px -466px;
		}
		span{
			position:absolute;
			left:47px;
			top:10px;
			width:45px;
			height:100px;
			background: url("../img/spirits.png")-690px -364px no-repeat;
		}
		.qr{
			position:absolute;
			top:10px;
			left:102px;
			width:91px;
			height:91px;
			padding:8px;
			background-color:@clr-w;
			img{
				width:100%;
			}
			img+img{
				position:absolute;
				left:1px;
				top:0;
				width:106px;
				height:9px;
				-webkit-animation:scanCode 2.5s linear infinite;
				-o-animation:scanCode 2.5s linear infinite;
				animation:scanCode 2.5s linear infinite;
			}
		}

		.ios,.app{
			position:absolute;
			top:10px;
			left:209px;
			width:171px;
			height:51px;
			margin-left:10px;
			background: url("../img/spirits.png")-335px -1476px no-repeat;
		}
		.app{
			top:65px;
			background-position:-907px -962px;
		}
		.pc{
			position:absolute;
			top:10px;
			left:390px;
			width:131px;
			height:107px;
			margin-left:7px;
			background: url("../img/spirits.png")-907px -855px no-repeat;
		}
	}
	//游戏日历
	.aside{
		position: absolute;
		z-index: 30;
		right:0;
		top:20px;
		width:347px;
		height: 1107px;
		//游戏日历背景
		.bg-sm{
			width:707px;
			height: 1107px;
			background: url("../img/aside-bg.png");
		}
		a,h1{
			position: absolute;
			left:20px;
			background: url("../img/spirits.png")-586px -855px no-repeat;
		}
		h1{
			top:-15px;
			width:321px;
			height:168px;
		}
		a{
			top:135px;
			width:321px;
			height:104px;
			background-position:-661px -1040px;
			color:@clr-333;
			.transition(all,.3s);
			>div{
				position:absolute;
				z-index:33;
				left:0;
				top:0;
				width:100%;
				height:0;
				background: url("../img/spirits.png")-308px 0 no-repeat;
				.transition(all,.3s);
				overflow:hidden;
				p{
					float:left;
					width:240px;
					margin-left:30px;
					margin-bottom:8px;
					font-size:13px;
				}
				p:first-child{
					margin-top:105px;
				}
			}
			h2{
				position: absolute;
				left:20px;
				bottom:10px;
			}
			&:hover{
				z-index:33;
				left:40px;
				h2{
					z-index:34;
				}
			}
		}
		a.boss{
			top:242px;
			left:-10px;
			background-position:-615px -1297px;
			h2{
				left:156px;
				bottom:20px;
			}
			p{
				float:right;
				width:235px;
				margin-right:30px;
				margin-bottom:10px;
				b{
					color:#f95c19;
				}
			}
			p:first-child{
				margin-top:95px;
			}
			&:hover{
				left:10px;
				div{
					height:363px;
				}
			}
		}
		a.gather{
			top:336px;
			width:307px;
			background-position:-308px -1297px;
			h2{
				bottom:14px;
			}
			div{
				background-position: -327px -666px;
			}
			&:hover{
				div{
					height:187px;
				}
			}
		}
		a.mission{
			top:435px;
			width:294px;
			background-position:-1017px -1193px;
			//background-position:-634px -666px;
			h2{
				left:134px;
				bottom:14px;
			}
			div{
				background-position:-634px -666px;
			}
			&:hover{
				div{
					height:187px;
				}
			}
		}
		a.region{
			z-index: 31;
			top:530px;
			height:145px;
			background-position:-330px -1040px;
			h2{
				left:11px;
				bottom:57px;
			}
			div{
				background-position:0px -364px;
			}
			&:hover{
				div{
					height:302px;
				}
			}
		}
		a.challenge{
			left:5px;
			top:626px;
			width:308px;
			background-position:0px -1297px;
			h2{
				left:145px;
				bottom:20px;
			}
			div{
				background-position:0 0;
			}
			&:hover{
				left:25px;
				div{
					height:364px;
				}
			}
		}
		a.hunt{
			top:710px;
			background-position:-1080px -882px;
		}
		a.break{
			left:5px;
			top:808px;
			width:312px;
			background-position:-394px -1193px;
			h2{
				left:110px;
				bottom:20px;
			}
			&:hover{
				left:25px;
			}
		}
		a.seal{
			top:895px;
			width:312px;
			background-position:-705px -1193px;
			h2{
				bottom:20px;
			}
		}
	}

	//内部导航
	.nav-tabs{
		position: relative;
		width: 100%;
		height:300px;
		padding-top:20px;
		padding-bottom:49px;
		background-color: #b2afaf;
		.background{
			.bgcommon;
			background: none;
			.bggradient(#fff8e4,@clr-w);

		}
		//左侧图片轮播
		.left{
			position: relative;
			z-index: 5;
			float: left;
			width: 360px;
			height: 270px;
			overflow: hidden;
			margin-left: -100px;
			.photos-slide-box{
				width: 360px*5;
				height: 270px;
				li{
					float: left;
					width: 360px;
					height: 270px;
					background: url("../img/news-1.jpg") no-repeat;
				}
				li+li{
					background-image: url("../img/news-2.jpg");
				}
				li+li+li{
					background-image: url("../img/news-3.jpg");
				}
				li+li+li+li{
					background-image: url("../img/news-4.jpg");
				}
				li+li+li+li+li{
					background-image: url("../img/news-5.jpg");
				}
			}
			//焦点图
			.indicator{
				position: absolute;
				left: 0;
				bottom:4%;
				width: 100%;
				.edge{
					width:35%;
				}
				b{
					display: block;
					width: 8px;
					height:8px;
					margin: 0 auto;
					border: 2px solid #e37b63;
					border-radius: 50%;
					cursor: pointer;
					&.hover{
						background-color: #e37b63;
					}
				}
			}
		}
		//中间新闻
		.news{
			position: relative;
			z-index: 5;
			float: left;
			width: 500px;
			margin-left: 39px;
			//news选项卡
			.tabs{
				overflow: hidden;
				padding-bottom: 15px;
				border-bottom: 2px solid @clr-000;
				margin-bottom: 2px;
				a{
					position: relative;
					float:left;
					padding: 0 30px 0 15px;
					h4{
						position: relative;
						z-index: 10;
						width: 44px;
						height:30px;
						background: url("../img/spirits.png") -1480px -1298px no-repeat;
					}
					>span{
						position: absolute;
						z-index: 5;
						top:12px;
						left: 0;
						width: 85%;
						height: 33px;
						border-radius:16px;
						.opacity();
						.transition(all,.3s);
					}
					&.hover{
						>span{
							top:5px;
							background-color:#68d7fc;
							.opacity(1,100);
						}
					}
					b{
						position: absolute;
						z-index: 10;
						top:0;
						right:0;
						width:15px;
						height: 26px;
						background: url("../img/spirits.png") -1538px -675px no-repeat;
					}
				}
				a+a>h4{
					background-position:-1480px -1237px;
				}
				a+a+a>h4{
					background-position:-1480px -1267px;
				}
				a+a+a+a>h4{
					background-position:-1480px -1328px;
				}
				a+a+a+a+a>h4{
					background-position:-1480px -1358px;
				}
			}
			//news选项卡详情
			.tabs-details{
				//兼容ie7 overflow失效
				position: relative;
				width: 100%;
				height: 205px;
				overflow: hidden;
				border-top: 1px solid @clr-000;
				.news-slide-box{
					width: 500px*5;
					overflow:hidden;
				}
				ul{
					width: 500px;
					float: left;
					li{
						overflow: hidden;
						position: relative;
						height:40px;
						line-height: 40px;
						padding-right: 85px;
						border-bottom: 1px solid @clr-border;
						&:hover{
							color:@clr-org-hover;
						}
						span{
							position: absolute;
							top: 0;
							right: 0;
							height: 100%;
							color: darken(@clr-ching,15%);
						}
					}
				}
			}
		}
	}
	//5.角色类型
	.role-menu{
		position: relative;
		z-index: 5;
		width: 100%;
		margin-bottom: 25px;
		margin-top: -30px;
		//background-color: @clr-w;
		.after;
		>div{
			float: left;
		}
		.sigh{
			width: 130px;
			height: 69px;
			margin-top: 20px;
			background: url("../img/spirits.png") -928px -775px no-repeat;
		}
		.dot{
			width: 44px;
			height: 4px;
			margin: 53px 13px auto 15px;
			background: url("../img/spirits.png") -1502px -392px no-repeat;
		}
		.tabs{
			position: relative;
			width: 96px;
			.btn{
				display: block;
				position: relative;
				z-index: 10;
				width: 70px;
				height: 33px;
				margin-top: 40px;
				margin-left: 12px;
				background: url("../img/spirits.png") -1480px -1137px no-repeat;
			}
			&.right{
				.btn{
					background-position:-1480px -1005px;
				}
			}
			.bg{
				position: absolute;
				z-index: 5;
				top: 25px;
				width: 96px;
				height: 91px;
				background: url("../img/spirits.png") -939px -1297px no-repeat;
				.opacity();
				.transition(all,.4s);
			}
			&:hover,&.active,&.hover{
				.bg{
					top: 15px;
					.opacity(1,100);
				}
			}
		}
	}
	//角色详情
	.role-tabs{
		position: relative;
		width: 100%;
		height:394px;
		.before;
		.background{
			.bgcommon;
		}
		>.item{
			display:none;
			position: relative;
			z-index:5;
			width: 800px;
			//padding-top: 20px;
			//overflow: hidden;

			&.display{
				display:block;
			}
		}
		//式神
		.all{
			//式神全部tab
			.sub-tabs{
				position: relative;
				height: 50px;
				line-height: 50px;
				margin-top: 30px;
				border-bottom: 1px solid @clr-666;
				a{
					margin-right:30px;
					font-size: @font-size-18;
					color: @clr-333;
					&.active,&:hover{
						color:@clr-org-hover;
					}
				}
				b{
					position: absolute;
					left:290px;
					top:11px;
					width: 130px;
					height: 29px;
					background: url("../img/allRoles.png")  no-repeat;
					cursor:pointer;
				}
			}
			.sub-items{
				ul{
					overflow: hidden;
				}
				li{
					position: relative;
					float: left;
					padding-right: 25px;
					margin-right: 25px;
					&:after{
						content: '';
						position: absolute;
						top:15%;
						right: 0;
						height: 85%;
						width: 1px;
						background-color: lighten(@clr-666,20%);
					}
					&.last{
						padding-right:0;
						margin-right:0;
						&:after{
							content:'';
							display: none;
						}
					}
					div{
						position: relative;
						width: 86px;
						height: 86px;
						margin:35px auto 0;
						border-radius: 50%;
						text-align: center;
						overflow: hidden;
						border: 2px solid @clr-w;
						&:hover{
							border-color: transparent;
							i{
								.opacity(.4,40);
							}
							b{
								.opacity(1,100);
							}
						}
					}
					div+div{
						margin-top: 20px;
					}
					img{
						width: 90px;
						height: 90px;
					}
					i,b{
						position: absolute;
						z-index: 10;
						left: 0;
						top: 0;
						width:100%;
						height: 100%;
						line-height:90px;
						color: @clr-w;
						.opacity();
						.transition();
					}
					i{
						z-index: 5;
						background-color:@clr-000;
						border-radius: 50%;

					}

				}
			}
		}
		//主角
		.major{
			.after;
			.sub-tabs{
				float: left;
				margin-top:50px;
				a{
					position: relative;
					display:block;
					width:130px;
					height:35px;
					line-height: 35px;
					margin-top: 20px;
					background-color:transparent;
					border: 2px solid @clr-w;
					text-align: center;
					font-size: @font-size-18;
					color: @clr-333;
					.transition(all,.3s);
					&:hover,&.active{
						background-color:@clr-w;
						border-color:@clr-000;
						&:after{
							content:'';
							position: absolute;
							top:12px;
							left:105%;
							border: 5px solid transparent;
							border-left-color: @clr-333;
						}
					}
				}
			}

			//主角详情
			.sub-items{
				float: left;
				margin-left: 80px;
				.item{
					display: none;
					position: relative;
					height:340px;
					width: 585px;
					&.display{
						display: block;
					}

					img{
						position: absolute;
						left: 0;
						top: 0;
						//height:340px;
					}
					>div{
						float:right;
						//width: 180px;
						margin-left:35px;
						margin-top:80px;
						b{
							display: block;
							width: 38px;
							height: 33px;
							background: url("../img/spirits.png") -1522px -1071px no-repeat;
						}
						h3{
							font-size: 30px;
							margin-bottom: 2px;
							border-bottom: 2px solid @clr-333;
							font-weight: 600;
						}
						p{
							padding-right: 20px;
							line-height: 25px;
							border-top: 1px solid @clr-333;
						}
					}
				}
				.item+div b{
					background-position:-1522px -1170px;
				}
				.item+div+div b{
					background-position:-1522px -1104px;
				}
				.item+div+div+div b{
					height: 24px;
					margin-bottom: 9px;
					background-position:-1480px -1388px;
				}
			}
		}
	}
}


//6.攻略
.strategy{
	margin-top:50px;
	.container{
		.after;
		margin-bottom:60px;
	}
	.quest{
		position:relative;
		float: left;
		width: 360px;
		border: 2px solid @clr-333;
		//搜索
		.search{
			position:absolute;
			top:-55px;
			left:0;
			width:281px;
			height:18px;
			//safari
			padding:11px 5px 11px 15px;
			border: 2px solid @clr-333;
			border-right-color:transparent;
			//ie7
			background-color:@clr-w;
			//webkit
			outline: medium;
			font-size:@font-size-16;
		}
		.search-btn{
			position:absolute;
			top:-69px;
			right:-2px;
			width:58px;
			height:58px;
			background:url("../img/spirits.png")-1480px -733px no-repeat;
			cursor:pointer;
			&:hover{
				background-position:-1480px -675px;
			}
		}
		//轮播图片
		.carousel{
			width:100%;
			overflow:hidden;
		}
		ul{
			width:360px*2;
			height:228px;
			li{
				float: left;
				width: 360px;
				height:228px;
				background: url("../img/quest-1.jpg") no-repeat;
			}
			li+li{
				background-image:url("../img/quest-2.jpg");
			}
		}
		//轮播焦点
		ol{
			width: 100%;
			margin: 15px 0;
			li{
				float: left;
				width: 8px;
				height: 8px;
				margin-right: 5px;
				border: 4px solid @clr-333;
				border-radius: 50%;
				&:first-child{
					margin-left: 160px;
				}
				&:hover,&.hover{
					background-color: @clr-333;
				}
			}
		}
		//系统功能...
		.system{
			width: 100%;
			margin: 40px 0 15px;
			overflow: hidden;
			a,b{
				float: left;
			}
			b{
				width:11px;
				height: 150px;
				background: url("../img/spirits.png")-1295px -315px no-repeat;
			}
			a{
				width:24px;
				height: 134px;
				margin: 0 28px;
				background: url("../img/spirits.png")-1368px -315px no-repeat;
			}
			a+b+a{
				background-position:-1328px -465px;
			}
			a+b+a+b+a{
				background-position:-1344px -315px;
			}
			a+b+a+b+a+b+a{
				background-position:-1320px -315px;
			}
		}
	}
	//攻略右侧
	.methods{
		float: left;
		margin-left: 35px;
		margin-top:10px;
	}
	//选项卡菜单
	.strategy-menu{
		//引用样式(5.)
		.navbar-nav .role-menu;
		padding-bottom: 25px;
		border-bottom: 1px solid @clr-border;
		.dot{
			margin: 53px 10px auto 12px;
		}
		div[data-tabs]{
			cursor:pointer;
		}
		.sigh{
			width: 134px;
			height: 85px;
			margin-top:3px;
			background-position:-410px -576px;
		}
		div[data-tabs='1'] .btn{
			height:39px;
			margin-top:33px;
			background-position:-1480px -925px;
		}
		div[data-tabs='2'] .btn{
			background-position:-1480px -1203px;
		}
		div[data-tabs='3'] .btn{
			width:75px;
			background-position:-1480px -964px;
		}
		div[data-tabs='4'] .btn{
			width:80px;
			margin-left: 10px;
			background-position:-1239px -993px;
		}
	}
	//选项卡详情
	.strategy-tabs{
		width: 778px;
		overflow: hidden;
		.tab-items{
			width: 778px*5;
		}
		.item{
			float: left;
			width: 778px;
		}
		ul{
			float: left;
			width: 45%;
			margin-right: 5%;
			li{
				position: relative;
				border-bottom: 1px solid @clr-border;
				margin-bottom: 10px;
				b{
					position: absolute;
					top:5px;
					left:0;
					border: 5px solid transparent;
					border-left-color: @clr-333;
				}
			}
			p{
				width:100%;
				height: 20px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				text-indent: 15px;
				cursor:pointer;
				&:hover{
					color:@clr-org-hover;
				}
			}
			span{
				display: block;
				margin:6px 0 8px;
				text-indent: 15px;
				color: @clr-bg-light;
			}
		}
		ul+ul{
			width: 50%;
			margin-right: 0;
		}
	}
}
//7.同人
.cosplay{
	margin-bottom:40px;
	//选项卡按钮
	.header{
		overflow:hidden;
		span{
			float:left;
			width: 112px;
			height: 106px;
			background: url("../img/spirits.png")-982px -1040px no-repeat;
			cursor:pointer;
		}
		ul{
			float:left;
			overflow:hidden;
			margin-top:20px;
			margin-left:25px;
			li[data-tabs]{
				&:after{
					content:'';
					position:absolute;
					top:5%;
					right:0;
					height:80%;
					width:1px;
					border-right:1px dotted @clr-333;
				}
				&.hover{
					b{
						bottom:55px;
					}
					i{
						bottom:-3px;
					}
				}
			}
			li[data-tabs='5']:after{
				content:'';
				display:none;
			}
			li{
				position:relative;
				float:left;
				width:150px;
				height:75px;
				border-bottom:2px solid @clr-333;
				cursor:pointer;
				b{
					position:absolute;
					left:41px;
					bottom:35px;
					width:72px;
					height:18px;
					background: url("../img/spirits.png")-1480px -1411px no-repeat;
					.transition(all,.4s);
				}
				i{
					position:absolute;
					left:0;
					bottom:-57px;
					width:100%;
					height:54px;
					background: url("../img/cosplay-icons.png") no-repeat;
					.transition(all,.4s);
				}
				&.goto{
					b{
						left:30px;
						bottom:25px;
						width:101px;
						height:24px;
						background-position:-930px -608px;
					}
					&:hover{
						b{
							left:40px;
						}
					}
				}

			}
			li+li{
				b{background-position:-1400px -1378px;}
				i{background-position:-165px 0;}
			}
			li+li+li{
				b{background-position:-1480px -1429px;}
				i{background-position:-314px 0;}
			}
			li+li+li+li{
				b{background-position:-1480px -1447px;}
				i{background-position:-476px 0;}
			}
			li+li+li+li+li{
				b{background-position:-1400px -1360px;}
				i{background-position:-625px 0;}
			}
			li+li+li+li+li+li{
				b{background-position:-1307px -734px;}
				i{background-position:-924px 0;}
			}
		}
	}
	//选项详情
	.content{
		width:100%;
		margin-top:35px;
		margin-bottom:25px;
		overflow:hidden;
	}
	.tabs-details{
		width:1200px*6;
		//图片ul
		ul{
			float:left;
			width:1200px;
			li{
				position:relative;
				float:left;
				width:285px;
				margin-right:20px;
				padding-bottom:10px;
				img{
					width:100%;
					//height:366px;
				}
				p{
					width:100%;
					height:42px;
					line-height:42px;
					white-space:nowrap;
					overflow:hidden;
					text-overflow:ellipsis;
				}
				b{
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:160px;
					.transition(all,.3s);
				}
				i{
					position:absolute;
					top:30px;
					left:103px;
					width:79px;
					height:93px;
					background: url("../img/spirits.png")-541px -474px no-repeat;
					display:none;
				}
				&:hover{
					b{
						background-color:@clr-000;
						.opacity(.5,50);
					}
					i{
						display:block;
					}
				}
			}
		}
	}
	.pic{
		.after;
		a{
			position:relative;
			float:left;
			margin-left:32px;
			p{
				position:absolute;
				left:-20px;
				top:-10px;
				width:40px;
				//height:152px;
				background-color:@clr-w;
				border:2px solid @clr-333;
				text-align:center;
				i{
					position:absolute;
					left:14px;
					width:11px;
					height:11px;
					background:url("../img/cos/club.png") no-repeat;
				}
				i:first-child{
					top:6px;
				}
				i+i{
					bottom:6px;
				}
				b{
					display:block;
					width:18px;
					line-height:15px;
					margin:22px auto;
					color:@clr-333;
				}
			}
		}
	}
}
.clearmg{
	margin-right:0!important;
}
//8.视频a
.video{
	.before;
	overflow:hidden;
	.container{
		position:relative;
		height:514px;
	}
	.background{
		.bgcommon("../img/lg-bg-03.jpg");
	}
	ul{
		position:relative;
		z-index:10;
		float:left;
		width:580px;
		margin-top:50px;
		li{
			position:relative;
			float:left;
			width:270px;
			height:199px;
			margin-right:20px;
			overflow:hidden;
			img{
				position:relative;
				z-index:5;
				width:100%;
				.transition(all,.3s);
			}
			&:hover{
				img{
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
			p{
				position:absolute;
				left:0;
				bottom:0;
				width:100%;
				height:45px;
				line-height:45px;
				background-color:@clr-w;
				text-indent:15px;
			}
			b{
				float:left;
				width:227px;
				height:148px;
				background: url("../img/spirits.png")-1080px -614px no-repeat;
			}
		}
	}
	ul+ul{
		float:right;
		p{
			background-color:transparent;
		}
		b{
			background-position:-1100px -466px;
		}
	}
}
//9.活动
.activity{
	margin-top:50px;
	margin-bottom:50px;
	.container{
		.after;
		//overflow:hidden;
		position:relative;
	}
	//活动专区
	.act{
		float:left;
		width:257px;
		height:370px;
		background: url("../img/activity/6.png") no-repeat;
	}
	//活动图片
	ul{
		float:right;
		width:910px;
		overflow:hidden;
		li{
			position:relative;
			float:left;
			width:270px;
			margin-right:50px;
			margin-bottom:40px;
			overflow:hidden;
			p{
				position:absolute;
				z-index:5;
				left:7px;
				bottom:10px;
				height:33px;
				line-height:33px;
				padding:0 10px;
				border:1px solid @clr-w;
				color:@clr-w;
			}
			img{
				.transition();
			}
			&:hover{
				img{
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
		}
	}
	//服务
	.logo{
		float:left;
		width:72px;
		height:220px;
		margin-top:50px;
		margin-left:40px;
		background: url("../img/logo-name.png") no-repeat;
		cursor:pointer;
	}
	.connect{
		position:relative;
		float:left;
		width:245px;
		height:200px;
		padding-left:25px;
		margin-left:110px;
		margin-top:50px;
		background-color:@clr-gre;
		div{
			position:absolute;
			z-index:5;
			left:50%;
			top:-30px;
			padding:12px;
			border:1px solid @clr-border;
			background-color:@clr-w;
			img{
				width:132px;
				height:132px;
			}
		}
		p{
			float:left;
			width:20px;
			line-height:15px;
			margin-right:10px;
			margin-top:20px;
			font-size:@font-size-16;
		}
		b{
			float:left;
			width:24px;
			height:96px;
			margin-top:20px;
			background: url("../img/spirits.png")-735px -364px no-repeat;
		}
		a{
			position:absolute;
			left:25px;
			bottom:10px;
			color:@clr-333;
			font-weight:600;
			span{
				color:@clr-yel;
			}
		}
	}
	.wechat{
		b{
			background-position:-1352px -466px;
			height:119px;
		}
	}
	.service{
		float:left;
		width:225px;
		height:185px;
		margin-left:100px;
		margin-top:50px;
		div{
			width:110px;
			height:109px;
			margin-top:-30px;
			margin-bottom:20px;
			background: url("../img/spirits.png")-928px -666px no-repeat;
		}
		p+p{
			margin-bottom:18px;
		}
		a{
			color:@clr-yel;
			&:hover{
				text-decoration:underline;
			}
		}
	}
	.totop{
		position:absolute;
		left:101%;
		bottom:10px;
		width: 25px;
		height: 111px;
		background: url("../img/spirits.png")-1266px -762px no-repeat;
		cursor:pointer;
		.transition(all,.4s);
		&:hover{
			bottom:25px;
		}
	}
}
//10.其他
.position(@left,@top,@width,@height){
	position:absolute;
	left:@left;
	top:@top;
	width:@width;
	height:@height;
}
.others{
	overflow:hidden;
	.container{
		position:relative;
		height:524px;
		.before;
	}
	*{
		position:relative;
		z-index:5;
		.transition(all,.4s);
	}
	.background{
		.bgcommon('../img/lg-bg-04.jpg');
		z-index:1;
	}

	h1{
		width:591px;
		height:29px;
		margin:120px auto;
		background: url("../img/spirits.png")-661px -1149px no-repeat;
	}
	h2{
		width:116px;
		height:23px;
		margin:-50px auto;
		background: url("../img/spirits.png")-930px -632px no-repeat;
	}
	//圈
	h3{
		.position(139px,60px,22px,76px);
		background: url("../img/spirits.png")-1480px -320px no-repeat;
	}
	img{
		.position(74px,45px,152px,152px);
		.opacity();
	}
	span{
		.position(250px,45px,16px,150px);
		background: url("../img/spirits.png")-1279px -315px no-repeat;
		.opacity();
	}
	h4{
		.position(45px,120px,210px,319px);
		background: url("../img/spirits.png")-331px -364px no-repeat;
	}
	a{
		position:relative;
		display:block;
		margin:auto;
		width:300px;
		height:300px;
		text-align:center;
		&:hover{
			h2{
				.opacity();
			}
			h3{
				top:-20px;
				z-index:4;
			}
			h4{
				top:190px;
			}
			span,img{
				top:25px;
				.opacity(1,100);
			}
		}

	}
}
//11.页底
.footer{
	padding-top:20px;
	padding-bottom:10px;
	.share{
		height:40px;
		padding-left:400px;
		margin-bottom:15px;
		span,a{
			float:left;
			height:100%;
			line-height:40px;
			color:#de7f7f;
		}
		a{
			position:relative;
			padding-left:24px;
			margin-left:10px;
			&:hover{
				color:#c9b27c;
			}
			b{
				.position(0,10px,21px,21px);
				background:url("../img/share.jpg") no-repeat;
			}
		}
		a+a b{
			background-position:-21px 0;
		}
		a+a+a b{
			background-position:-42px 0;
		}
		a+a+a+a b{
			background-position:-63px 0;
		}
	}
	p{
		width:840px;
		margin:0px auto 0;
		a{
			color:@clr-333;
			&:hover{
				text-decoration:underline;
			}
		}
	}
}

