@charset "utf-8";
@import "animate";
html {
	font-family: PingFangSC-Regular, Verdana, Arial, '微软雅黑', '宋体',sans-serif;
	-ms-text-size-adjust: 100%; // 2
	-webkit-text-size-adjust: 100%; // 2
	font-size: @font-size-sm;
	color: @font-clr;
	width:100%;
}
body {
	margin: 0;
}
ul,ol,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
table{border-collapse:collapse;border-spacing:0;}
a {
	background-color: transparent;
	text-decoration: none;
}
a:active,a:hover {
	outline: 0;
}
fieldset,img {
	border: 0;
	vertical-align: middle;
}
ul,ol{
	list-style:none;
}
//清除浮动/边距越界
.before(){
	&:before{
		content: "";
		display: table;
		clear: both;
	}
}
.after(){
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}
//全局变量
@bg-clr-light:#fafafa;
@bg-clr:#f6f6f6;
@font-clr-dark:#333;
@font-clr:#666;
@font-clr-light:#999;
@font-size-sm:12px;
@font-size-std:14px;
@font-size-xl:18px;
@font-size-xm:20px;
@font-size-xx:24px;
@font-size-lg:28px;
@font-size-sp:50px;
@clr-red-std:#ff503f;
@clr-red-light:#e4695e;

//测试用
/*
div:root{
	height: 200px;
	width: 100%;
	text-align: center;
}
div:nth-child(odd){
	background-color: aliceblue;
}
*/

.container{
	width: 1210px;
	margin: 0 auto;
}

//第一部分,顶部---------------------------------------------------01
.header{
	background-color: @bg-clr-light;
	b{
		position: absolute;
		top:50%;
		left: 0;
		margin-top: -7px;
		height: 14px;
		width: 14px;
		background: url("../img/phone-black.png");
	}
	>div{
		height: 50px;
		line-height: 50px;
		//电话
		span{
			font-size: @font-size-xl;
			color: @font-clr-light;
			float: left;
			position: relative;
			padding-left: 20px;
		}
		//顶部右边按钮列表
		>div{
			float: right;
			//overflow: hidden;
			//搜索栏
			>div{
				//float: left;
				float:right;//兼容ie7
				position: relative;
				height: 50px;
				input{
					*margin-top: 10px;//兼容ie7,输入框无法居中
					width: 100px;
					height: 18px;
					padding: 5px 10px;
					border-radius: 14px;
					outline: none;
					border:1px solid #ddd;
					.transition(width);
					&:focus{
						width: 180px;
						background-position: 175px center;
					}
				}
				b{
					left:auto;
					right: 8px;
					background: url("../img/search-black.png");
				}
			}
			//我需要...
			ul{
				float: right;
				margin-right: 15px;
				.want{
					padding-left: 20px;
					padding-right: 10px;
					background:@bg-clr-light url('../img/user-black.png') no-repeat 12px center;
					&:hover{
						div{
							display: block;
							z-index: 10;
						}
						i{
							border-top-color: #fff;
						}
					}
					i{
						display: block;
						border: 4px solid transparent;
						border-top-color:@font-clr-light;
						position: absolute;
						top:45%;
						right: 10px;
					}
				}
				//微信扫一扫
				.wechat{
					background-color: @bg-clr-light;
					padding-right: 15px;
					&:hover div{
						display: block;
						z-index: 10;
						-webkit-animation: showSub .2s;
						animation: showSub .2s;
					}
					div{
						position: absolute;
						left: 0;
						top: 50px;
						width: 130px;
						height: 130px;
						display: none;
						img{
							width:100%;
							height: 100%;
						}
					}
				}
				li{
					float: left;
					position: relative;
					height: 100%;
					background-color: #eee;
					//兼容ie7
					z-index: 30;
					a{
						color: @font-clr;
						display: block;
						height: 100%;
						padding: 0 12px;
					}
					&:hover{
						background-color: @clr-red-std;
						a{
							color: #fff;
						}
					}
					//我需要 下拉列表
					div.cate-box{
						background-color: @clr-red-std;
						width: 240px;
						color: #fff;
						position: absolute;
						left: 0;
						top: 50px;
						display: none;
						dt{
							border-bottom: 1px solid #ffa89f;
							font-size: @font-size-xl;
							padding: 0 18px;
							margin-bottom: 8px;
						}
						dd{
							padding: 0 18px;
							margin: 0;
							line-height: 30px;
							cursor:pointer;
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	border-bottom: 1px solid #e6e6e6;
}
//第2部分,导航栏---------------------------------------------------02
.nav{
	border-bottom: 4px solid @clr-red-std;
	>div {
		height: 90px;
		line-height: 90px;
		//logo
		span {
			font-size: @font-size-lg;
			float: left;
			position: relative;
			a{
				color: @font-clr;
			}
			b{
				height: 90px;
				width: 90px;
				float: left;
				background: url("../img/logo.png");
				background-size: 100% 100%;
			}
		}
		//导航按钮列表
		>ul {
			float: right;
			position: relative;
			//兼容ie7
			z-index: 20;
			>li{
				float: left;
				height: 100%;
				>a{
					color: @font-clr-dark;
					display: block;
					height: 100%;
					padding: 0 18px;
					font-size: @font-size-std;
				}
				&:hover {
					background-color: @clr-red-std;
					>a {
						color: #fff;
					}
					.submemu{
						display: block;
					}
				}
				//下拉列表
				.submemu{
					display: none;
					border-top: 4px solid @clr-red-std;
					position: absolute;
					top:86px;
					right:0;
					width: 885px;
					height: 230px;
					padding:24px 40px 24px 35px;
					background-color: #fff;
					box-shadow:0 3px 8px #999;
					//box-shadow: ;
					z-index: 20;
					//左侧链接竖向列表
					ul.left{
						float: left;
						width: 115px;
						height: 100%;
						line-height: normal;
						>li{
							height: 30px;
							display: block;
							a{
								color: @font-clr-dark;
								&:hover{
									color:@clr-red-std;
								}
							}
						}
					}
					div.right{
						line-height: normal;
						float: left;
						margin-left: 40px;
						padding-left: 30px;
						width: 670px;
						height: 100%;
						border-left: 1px dotted #ddd;
						color: @font-clr-light;
						div{
							float: left;
							width: 50%;
							h2{
								font-size: @font-size-lg;
								margin-top: 20px;
								margin-bottom: 10px;
							}
							p{
								width: 95%;
								font-size: @font-size-std;
								line-height: 25px;
								text-align: justify;
								text-indent: 28px;
							}
						}
						span{
							width: 50%;
							height:100%;
							float: right;
							img{
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
}



//第三部分,轮播图---------------------------------------------------03
.banner{
	width: 100%;
	max-width: 1920px;
	height:520px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	.slideLayout{
		position: absolute;
		width: 200%;
		height: 100%;
		top:0;
		left:-50%;
		div.slideBox{
			width: 1920px;
			margin: 0 auto;
			height:100%;
			position: relative;
			//单个轮播组
			.item{
				width: 1920px;
				height:100%;
				position: absolute;
				top: 0;
				.opacity();
				display: block;
				.transition(all,.8s);
				&.current{
					.opacity(1,100);
					.description{
						top:50%;
						.opacity(1,100);
					}
				}
			}
			.description{
				height: 230px;
				width: 450px;
				position: absolute;
				margin-top: -115px;
				top:53%;
				right: 58%;
				.opacity();
				background-color:@clr-red-light;
				.transition(all,1s);
				z-index: 5;
				h1{
					color: #fff;
					font-size: 36px;
					margin-top: 25px;
					margin-left: 20px;
				}
				p{
					color: #fff;
					font-size: @font-size-std;
					margin-top: 8px;
					margin-left: 20px;
					line-height: 25px;
				}
				a{
					display: block;
					height: 30px;
					line-height: 30px;
					border-radius:4px ;
					background-color: #fff;
					width: 80px;
					color: darken(@clr-red-std,10%);
					margin-top: 8px;
					margin-left: 20px;
					text-align: center;
					font-size: @font-size-std;
					z-index: 12;
				}
			}
		}
		//焦点图
		.slideBtn{
			width: 1920px;
			margin: 0 auto;
			height:100%;
			position: relative;
			top:-100%;
			z-index: 10;
			>div{
				position: absolute;
				width: 450px;
				right: 58%;
				top: 65%;
				overflow: hidden;
				ul{
					z-index: 13;
					float: right;
					li{
						width: 12px;
						height: 12px;
						float: left;
						margin-right:10px;
						background-color: #efeee8;
						&:hover,&.hover{
							background-color: black;
						}
					}
				}
			}
		}
	}
}

//第四块:核心产品---------------------------------------------------04
//+通用样式
.section,.products{
	text-align:center;
	>h1{
		height:35px;
		background: url(../img/icons.png) no-repeat 50% -96px;
		margin-top:50px;
		margin-bottom:10px;
	}
	>h3{
		font-size:@font-size-xx;
		line-height:38px;
		color:@font-clr-dark;
		margin-bottom:5px;
	}
	>h6{
		font-size:@font-size-std;
		color:@font-clr-light;
	}
	>div.container{
		padding-top:100px;
		width: 1210px;
		overflow: hidden;
		//ie7 下overflow失效,要添加position
		position: relative;
		>ul{
			.after();
			width: 2300px;
			margin-bottom: 20px;
			//.transition(margin-left,.5s);
			//鼠标悬浮样式:li先上移动,背景色变红,字体颜色白色
			&.sect4>li:hover{
				background: @clr-red-light;
				b{
					background-position: -109px -296px;
				}
				top: -20px;
				h2,p{
					color: #fff;
				}
			}
			>li{
				top:0;
				background-color: transparent;
				width: 268px;
				height: 305px;
				float: left;
				margin-right: 43px;
				position: relative;
				.transition();
				border: 1px dashed @clr-red-light;

				//圆圈图案
				b{
					display: block;
					height: 106px;
					width: 106px;
					margin: 20px auto;
					background: url(../img/icons.png) no-repeat 0 -296px;
					z-index: 3;
				}
				i{
					position: absolute;
					height: 59px;
					width: 59px;
					top: 44px;
					left: 50%;
					margin-left: -30px;
					//background: url(../img/17_in.png) no-repeat
					z-index: 3;
				}
				h2{
					font-size: @font-size-xx;
					color: @font-clr-dark;
					margin-bottom: 20px;
				}
				p{
					font-size: @font-size-sm;
					text-align: justify;
					padding: 0 15px;
					color: @font-clr-light;
					line-height: 20px;
				}

			}
		}
	}
	//公用样式:左移右移箭头按钮
	div.scrollNav{
		width: 240px;
		height: 40px;
		line-height: 40px;
		border: 1px solid #ddd;
		margin: 30px auto 50px;
		text-align: center;
		position: relative;
		a{
			.transition(all,.1s);
		}
		a.scrollNav-prev{
			//border-right:1px solid #ddd ;
			//兼容ie 取消浮动用定位
			position: absolute;
			top:0;
			left: 0;
			height: 40px;
			width: 50px;
			float: left;
			background: url(../img/icons.png) no-repeat -165px 0;
			&:hover{
				background-position: -165px -45px;
			}
		}
		a.scrollNav-next{
			//border-left:1px solid #ddd ;
			position: absolute;
			top:0;
			right: 0;
			height: 40px;
			width: 50px;
			float: right;
			background: url('../img/icons.png') no-repeat -345px 0;
			&:hover{
				background-position: -345px -45px;
			}
		}
	}
}
.centerize(@h:68px,@w:68px,@pos:absolute,@top:50%){//,@left:50%
	height: @h;
	width: @w;
	position: @pos;
	top: @top;
	//left: @left;
	margin-top:-@h/2;
	//@margin-style:-@w/2;
}
//第5块:解决方案---------------------------------------------------05
.solution{
	//ie6/ie7 不支持before
	*padding:50px;
	.before();
	.after();
	background-color: @bg-clr;
	position: relative;
	//z-index: 100;
	margin-bottom: 120px;
	>h1{
		background-position: 50% -136px;
	}
	div.container{
		overflow: visible;
		ul{
			width: 100%;
			li{
				border:none;
				border-bottom: 3px solid #e5e5e5;
				background-color:#f1f1f1;
				overflow: hidden;
				margin-bottom: 20px;
				//清除每行最后一个右外边距
				&.margin-clear{
					margin-right:0;
				}
				//圆圈+下+搜索
				//定好left和right的方向,兼容Safari
				b{
					.centerize(68px,68px,absolute,35%);
					margin-right:-34px;
					right:100% ;
					background: url("../img/icon_circle.png") no-repeat;
					.transition();
					.opacity;
				}
				i{
					.centerize(34px,33px,absolute,35%);
					left: 100%;
					margin-left:-17px;
					background: url("../img/icon_zoom.png") no-repeat;
					.transition();
					.opacity;
				}
				//遮罩层 和 图片
				>img,>div{
					display: block;
					width: 267px;
					height: 200px;
					top: 0;
					left:0;
					//兼容ie7 必须设置left 为 0
					position: absolute;
				}
				>div.mask{

					z-index: 2;
					.transition();
				}
				&:hover{
					b{
						right: 50%;
						.opacity(1,100);
					}
					i{
						left: 50%;
						.opacity(1,100);
					}
					background-color:#fff;
					border-bottom-color:@clr-red-std;
					top:0;
					color: red;
					div.mask{
						//ie7/8 不支持rgba
						//background-color:rgba(255, 80, 63,.7);
						background-color:rgb(255, 80, 63);
						.opacity(.7,70);
					}
					h2{
						color:@clr-red-light;
					}
				}
				h2{
					margin-top: 210px;
					font-size: @font-size-xl;
					margin-bottom: 8px;
				}
				p{
					font-size: @font-size-sm;
				}
			}
		}
	}

	.scrollNav{
		background-color: #fff;
	}
	.addToBottom{
		position: absolute;
		left: 0;
		bottom:-120px;
		width:100%;
		height: 120px;
		//background: url("../img/bg_row_pv.jpg") no-repeat;
		//background-size: 100% 100%;
		//ie7/8 background 有问题,改用img
		img{
			height:120px;
			width: 100%;
		}
	}
}

//第6块:成功案例---------------------------------------------------06
.project{
	*padding:50px;
	.before;
	.after();
	>h1{
		background-position: 50% -176px;
	}
	//切换按钮
	div.tabNav{
		width: 252px;
		height: 40px;
		line-height: 42px;
		border-radius:5px ;
		overflow: hidden;
		margin:50px auto 20px;
		border: 1px solid #ddd;
		cursor: pointer;
		span{
			display: block;
			float: left;
			width: 50%;
			height: 40px;
			font-size: @font-size-std;
			&.on{
				background-color:@clr-red-std;
				color: #fff;
			}
		}
	}
	div.container{
		//position:relative;
		padding-top: 10px;
		//通用样式:定位
		.pos(){
			position: absolute;
			left: 0;
			top: 0;
		}
		div.display{
			display: block;
			z-index: 10;
		}
		//经典案例
		.caseSpecial{
			width: 100%;
			overflow: hidden;
			display: none;
			z-index: 5;
			//.pos;
			.bigBox{
				position: relative;
				height: 480px;
				width: 100%;
				.item{
					width: 100%;
					position:absolute ;
					overflow: hidden;
					left: 0;
					top:0;
					text-align: left;
					.transition(all,1s);
					.opacity();
					&.current{
						.opacity(1,100);
					}
					div.img{
						float: left;
						width:580px ;
						height: 480px;
						img{
							width: 100%;
							height: 100%;
						}
					}
					div.text{
						float: right;
						width:500px;
						height: 420px;
						padding: 30px 30px 30px 60px;
						background: url("../img/bg_text.png") no-repeat;
						h2{
							font-size:30px;
							color: @font-clr-dark;
							padding-bottom: 40px;
						}
						p{
							font-size: @font-size-std;
							line-height: 25px;
							text-indent: @font-size-std*2;
							margin-bottom: 20px;
						}
					}
				}
			}
			//经典案例--切换按钮列表
			.listBox{
				width: 100%;
				position: relative;
				margin-top: 15px;
				ol{
					height: 62px;
					width: 2000px;
					margin-left: 2px;
					li{
						float: left;
						width: 198px;
						height: 60px;
						border: 1px solid #f6f6f6;
						position: relative;
						margin-right:1px;
						.transition();
						cursor:pointer;
						&:hover,&.hover{
							border-color: @font-clr-light;

						}
						&.hover{
							.up{
								z-index:1;
							}
						}
						img{
							position: absolute;
							left: 0;
							width: 198px;
							height: 60px;
							z-index: 1;
							&.up{
								z-index: 2;
							}
						}
					}
				}
			}
		}
		//案例列表
		.caseList{
			display: none;
			z-index: 5;
			//.pos;
			ul{
				overflow: hidden;
				li{
					border:0;
					width: 220px;
					height: 211px;
					margin-right: 25px;
					margin-bottom: 25px;
					float: left;
					background-color: darken(@bg-clr,20%);
					&:hover{
						img{
							.opacity(.7,70)
						}
						span{
							background-color: @clr-red-std;
							color: #ffffff;
						}
					}
					img{
						width:100%;
						border:1px solid #d6d6d6;
						border-bottom:0;
						.transition();
					}
					span{
						display: block;
						height: 42px;
						line-height: 42px;
						width: 100%;
						background-color: @bg-clr;
						color: @font-clr;
						.transition();
					}
					&.margin-clear{
						margin-right: 0;
					}
				}
			}
			>a{
				margin: 15px auto 50px;
				display: block;
				height:44px;
				width: 155px;
				font-size: @font-size-std;
				color: @font-clr;
				background-color: @bg-clr;
				border: 1px solid #d6d6d6;
				line-height: 44px;
				border-radius: 5px;
				&:hover{
					color: #fff;
					background-color: @clr-red-std;
				}
			}
		}
	}

}

//第7块:项目服务---------------------------------------------------

.setList(@liLeft:0,@size:80px,@color:rgb(235,139,127)){
	left: @liLeft;
	height:@size;
	width:@size;
	line-height:@size;
	margin-top: -@size/2;
	.mask{
		background-color: @color;
	}
}
.setListR(@liRight:0,@size:80px,@color:rgb(235,139,127)){
	left: initial;
	right:@liRight;
	height:@size;
	width:@size;
	line-height:@size;
	margin-top: -@size/2;
	.mask{
		background-color: @color;
	}
}


//第7块:项目服务
.service{

	height: 550px;
	*padding-top: 50px;
	padding-bottom: 50px;
	.before;
	background:@bg-clr url("../img/bg_earth.png") no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	>div>h1{
		background-position: 50% -216px;
	}
	div.container{
		padding-top: 100px;
		ul.circles{
			width: 100%;
			height: 272px;
			position: relative;
			li{
				margin: 0;
				position: absolute;
				top:50%;
				border-radius:50%;
				border:0;
				text-align: center;
				overflow: hidden;
				.transition();
				.setList;
				&:hover{
					width: 272px;
					height: 272px;
					margin-top:-136px;
					color: #fff;
					z-index: 10;
					&.list5{
						left: 550px;
					}
					&.list6{
						left: 710px;
					}
					&.list7{
						left: 820px;
					}
					&.list8{
						left: 940px;
					}
					&.list9{
						left: 1030px;
					}
					.mask{
						.opacity(1,100);
					}
					>h4{
						font-size: 30px;
						color: #fff;
						height: 180px;
						line-height: 180px;
					}
				}
				//透明遮罩
				.mask{
					width: 100%;
					height: 100%;
					border-radius:50%;
					.opacity(0.3,30);
					position: absolute;
					left: 0;
					top: 0;

				}
				h4{
					font-size: 15px;
					//height: 36px;
					//line-height: 36px;
					color: darken(@font-clr-dark,80%);
					position: absolute;
					z-index: 5;
					text-align: center;
					top:0;
					left: 0;
					width: 100%;
					.transition();
				}


				div.datas{
					width: 272px;
					height: 272px;
					position: absolute;
					left:0;
					top:53%;
					.opacity();
					//.transition(all,.2s,linear);
					//竖线
					.line{
						width: 50%;
						height: 100%;
						position: absolute;
						left: 0;
						right:0;
						border-right: 1px dotted #fff;
					}
					//圆圈开始状态
					s{
						width: 6px;
						height: 6px;
						border: 2px solid #fff;
						background-color: @clr-red-std;
						border-radius: 50%;
						position: absolute;
						margin-left: -5px;
						&.first{
							top: 0;
							left:50%;
							margin-left: -3px;
							border: 0;
							background-color: #fff;
						}
						&.second{
							//left:57%;
							//top: 20%;
							left: 50%;
							top: 18%;
						}
						&.third{
							//left:43%;
							//top: 33%;
							left: 50%;
							top: 31%;
						}
						&.fourth{
							//left:57%;
							//top: 46%;
							left: 50%;
							top: 44%;
						}
					}
					//文字开始状态
					span{
						position: absolute;
						display: block;
						//不定高和行高,出现不可预知的错误
						height:20px;
						line-height: 20px;
						top: 20%;

						&.first{
							left:55%;
							top: 16%;
						}
						&.second{
							left:initial;
							right:55%;
							top:30%;
						}
						&.third{
							left:55%;
							top:43%;
						}
					}
				}
				//动画过程
				&:hover{//,&.final

					div.datas{
						//width: 100%;
						//height: 100%;
						//.opacity(1,100);
						//top:42%;
						animation: moveUp .6s forwards;
						-webkit-animation:moveUp .6s forwards;
						//结束状态
						s{
							&.first{
								.opacity(1,100);
							}
							&.second{
								animation: moves2 .8s forwards;
								-webkit-animation:moves2 .8s forwards;
							}
							&.third{
								animation: moves3 1.2s forwards;
								-webkit-animation: moves3 1.2s forwards;
							}
							&.fourth{
								animation: moves4 1.8s forwards;
								-webkit-animation: moves4 1.8s forwards;

							}
						}
						//结束状态
						span{
							&.first{
								//.opacity(1,100);
								//left:55%;
								//top: 16%;
								animation: secondSp1 .8s forwards;
								-webkit-animation: secondSp1 .8s forwards;
							}
							&.second{
								//.opacity(1,100);
								//right:55%;
								//top:28%;
								animation: secondSp2 1.2s forwards;
								-webkit-animation: secondSp2 1.2s forwards;
							}
							&.third{
								animation: secondSp3 1.8s forwards;
								-webkit-animation: secondSp3 1.8s forwards;
							}
						}
					}
				}
			}
			.list9{
				.setList(1130px);
			}
			.list1{
				.setList(85px,100px,rgb(207,90,75));
			 }
			.list8{
				.setList(1025px,100px,rgb(207,90,75));
			}
			.list2{
				.setList(190px,126px,rgb(239,116,103));
			}
			.list7{
				.setList(894px,126px,rgb(239,116,103));
				//.setListR(190px,126px,rgb(239,116,103));
			}
			.list3{
				.setList(288px,156px,rgb(243,163,115));
			}
			.list6{
				.setList(766px,156px,rgb(243,163,115));
				//.setListR(288px,156px,rgb(243,163,115));
			}
			.list4{
				.setList(421px,194px,rgb(203,124,124));
			}
			.list5{
				.setList(595px,194px,rgb(203,124,124));
				//.setListR(421px,194px,rgb(203,124,124));
			}
		}
	}
}
//第8块:联系我们---------------------------------------------------
.contact{
	.after;
	padding-bottom: 50px;
	>div>h1{
		background-position: 50% -256px;
	}
	//height:582px;
	div.container{
		overflow: hidden;
		margin-top: 50px;
		.userInfo{
			float: left;
			overflow: hidden;
			width: 728px;
			dl{
				overflow: hidden;
				float: left;
				dt{
					text-align: right;
					float: left;
					width:80px;
					height: 44px;
					line-height: 44px;
					padding-right: 8px;
					span{
						color: @clr-red-std;
					}
					span:after{
						content: " ";
					}
				}
				dd{
					float: left;
					margin-left: 0;
					input{
						width: 258px;
						height: 34px;
						padding:5px 6px 5px 10px;
						border: 1px solid #dadada;
						outline: none;
						&:focus{
							outline:1px solid #a5c7fe;
						}

					}
					textarea{
						width: 638px;
						border: 1px solid #dadada;
						outline: none;
						&:focus{
							outline:1px solid #a5c7fe;
						}
					}
				}

			}
			button{
				float: left;
				border: 0;
				background-color: #e31939;
				color: #fff;
				display: block;
				height:40px ;
				line-height: 40px;
				width: 118px;
				font-size: @font-size-xl;
				&:hover{
					background-color: @clr-red-std;
				}
				margin-left: 88px;
				margin-top: 10px;
			}


		}
		form{
			overflow: hidden;
			>input{
				float: left;
				height:28px ;
				width: 150px;
				line-height: 40px;
				border: 1px solid #dadada;
				margin-top: 10px;
				margin-left: 15px;
				padding:5px 6px 5px 10px;
				outline: none;
				&:focus{
					outline:1px solid #a5c7fe;
				}
			}
			>span{
				float: left;
				height: 40px;
				line-height: 40px;
				width: 80px;
				margin-top: 10px;
				margin-left: 15px;
				background: url("../img/checkcode.jpg");
				text-align: center;
				font-size: @font-size-xm;
				color: @font-clr-light;
			}
		}
		//右侧地址
		.company{
			margin-top: 12px;
			width: 430px;
			height: 256px;
			float: right;
			//background-color: #c3c3c3;
			ul.tabs{
				overflow: hidden;
				width: 100%;
				li{
					font-size: @font-size-std;
					float: left;
					height: 24px;
					line-height: 24px;
					border-bottom: 3px solid transparent;
					margin:0 40px 0 0;
					cursor: pointer;
					.transition;
					&:hover,&.hover{
						border-color: @clr-red-std;
					}
				}
			}
			//地址中间详情
			div.details{
				margin-top: 12px;
				width: 100%;
				height:223px;
				//border: 1px solid #ddd;
				position:relative;
				background: url("../img/cities/region_shenzhen.png") no-repeat;
				//单个地址
				div {
					position: absolute;
					top:0;
					left: 0;
					display: none;
					p{
						color: @font-clr-light;
						font-size: @font-size-std;
						margin: 15px 0;
					}
					&.current{
						display: block;
					}
				}

				ol{
					overflow: hidden;
					position: absolute;
					top:150px;
					left: 0;
					li{
						text-align: center;
						float: left;
						a{
							border: 0;
							background-color: #e31939;
							display: block;
							height:30px ;
							line-height: 30px;
							border-radius: 5px;
							padding: 0 15px;
							font-size: @font-size-std;
							.transition;
							&:hover{
								background-color: @clr-red-std;
							}
							margin-right: 10px;
							color: #fff;

						}
						&:last-child a{
							border: 1px solid @clr-red-std;
							background-color: #fff;
							color:@clr-red-std;
							&:hover{
								background-color: @clr-red-std;
								color:#fff ;
							}
						}
					}
				}
			}

		}
	}
}
.footer{
	height:85px;
	line-height: 85px;
	background-color: @bg-clr;
	border-top: 1px solid #dadada;
	div{
		text-align: center;
		margin:0 auto;
		p{
			height: 20px;
		}
	}
}

div.aside{
	position:fixed;
	right: 0;
	top: 50%;
	z-index: 1000;
	display: none;
	width: 40px;
	.transition(display);
	>div{
		background: url("../img/icons.png") no-repeat;
		width: 40px;
		height:40px;
	}
	//联系客服窗口
	div.online{
		height:70px;
		background-position: 0 -575px;
		position: relative;
		&:hover{
			background-position: -40px -575px;
			.connect{
				display: block;
				-webkit-animation: showConnect .5s;
				animation: showConnect 1s;
			}
		}
		.connect{
			position: absolute;
			top: 0;
			right: 100%;
			width: 245px;
			height: 315px;
			background: url("../img/tb-nbg.png");
			display: none;
			h3{
				text-align: center;
				font-size: @font-size-xm;
				margin-top: 10px;
			}
			span{
				display: block;
				margin:25px 10px 10px 10px;
			}
			p{
				margin:10px;
				font-size: @font-size-xl;
				color: @clr-red-std;
			}
			div{
				position: absolute;
				left: 0;
				bottom: 15px;
				height: 72px;
				img{
					margin-left:5px;
					float: left;
					height: 67px;
					width: 72px;
				}
			}
		}
	}
	//二维码
	.QRcode{
		background-position: 0 -646px;
		position: relative;
		z-index: 10;
		&:hover{
			background-position: -40px -646px;
			div{
				display: block;
				-webkit-animation: showConnect .5s;
				animation: showConnect 1s;
			}
		}
		div{
			z-index: 5;
			position: absolute;
			right: 100%;
			height: 80px;
			width: 80px;
			display:none;
			img{
				display: block;
				height:100%;
				width:100%;
			}
		}
	}
	.toTop{
		background-position: 0 -686px;
		&:hover{
			background-position: -41px -686px;
		}
	}


}