@charset "utf-8";
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
  font-family: sans-serif;
}
body {
  margin: 0;
  font: 14px/1.5 PingFangSC-Regular, Verdana, Arial, 'Microsoft Yahei', '宋体', sans-serif;
  color: #333;
}
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  background-color: transparent;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
fieldset,
img {
  border: 0;
  vertical-align: middle;
}
ul,
ol {
  list-style: none;
}
body {
  background-color: #fafafa;
}
.container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
.identity {
  width: 850px;
  padding-bottom: 60px;
  margin: 20px auto 60px;
  background-color: #fff;
}
.identity:before {
  content: "";
  display: table;
  clear: both;
}
.identity h1 {
  margin: 30px auto 50px;
  font-size: 30px;
  text-align: center;
}
.userInfo {
  width: 330px;
  margin: 20px auto;
}
.userInfo input {
  width: 314px;
  height: 32px;
  line-height: 1;
  line-height: 32px \9;
  padding: 5px 6px 5px 10px;
  border: 1px solid #dadada;
  outline: none;
  margin: 8px 0 9px;
  color: #757575;
}
.userInfo label {
  display: block;
  margin-top: 9px;
}
.userInfo .tips {
  display: none;
  font-size: 12px;
  color: #ff6700;
}
.userInfo .tips b {
  float: left;
  height: 14px;
  width: 14px;
  margin-right: 5px;
  background: url("../img/tips.png");
}
.userInfo .tips.display {
  display: block;
}
.userInfo input[type=button],
.userInfo .instant {
  width: 330px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin-top: 9px;
  color: #fff;
  font-size: 14px;
  background-color: #ff6700;
}
.userInfo input[type=button]:hover,
.userInfo .instant:hover {
  background-color: #e65d00;
}
.userInfo span.infor {
  color: #b0b0b0;
}
.userInfo span.infor strong {
  color: #616161;
}
.userInfo .toLogin {
  color: #b0b0b0;
  text-align: right;
}
.userInfo .toLogin a {
  color: #ff6700;
}
.userInfo .goToCart {
  margin: 60px auto 30px;
  text-align: center;
  color: #b0b0b0;
}
.userInfo .instant {
  display: block;
  text-align: center;
}
.userInfo .invalid a {
  color: #ff6700;
  text-decoration: underline;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #e0e0e0;
  background-color: #fff;
}
.footer p {
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  margin-top: 20px;
  padding: 0 30px;
}
